In [8]:
!pip install pydot

Collecting pydot
  Downloading pydot-2.0.0-py3-none-any.whl.metadata (9.6 kB)
Requirement already satisfied: pyparsing>=3 in /opt/anaconda3/envs/nn/lib/python3.11/site-packages (from pydot) (3.1.2)
Downloading pydot-2.0.0-py3-none-any.whl (22 kB)
Installing collected packages: pydot
Successfully installed pydot-2.0.0

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import TensorBoard
import datetime

In [2]:
df = pd.read_csv('Data/Large_Datasets/4-wayHeterogeneous_100000feat.txt', delimiter='\t')
df

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,...,N99991,N99992,N99993,N99994,N99995,M0P1,M1P2,M2P3,M3P4,Class
0,0,0,0,0,1,1,0,1,0,1,...,0,0,1,1,1,0,0,0,1,1
1,0,1,1,2,0,1,2,0,0,1,...,0,0,0,1,0,0,1,0,1,1
2,0,0,1,0,1,0,1,2,1,1,...,2,0,0,1,0,0,0,2,1,1
3,0,1,1,1,0,1,0,1,0,1,...,1,1,0,1,1,0,1,0,1,1
4,0,1,2,0,1,1,1,0,0,0,...,2,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,1,1,0,0,2,0,1,...,0,0,0,1,1,0,0,0,1,0
996,0,0,0,1,0,0,0,1,0,0,...,2,0,1,2,0,0,1,1,0,0
997,0,1,0,0,1,0,1,1,1,0,...,1,1,0,1,1,0,0,0,1,0
998,0,1,2,0,0,0,2,2,0,1,...,1,0,0,2,0,0,1,0,0,0
999,0,0,0,1,0,1,0,0,0,0,...,1,0,0,2,1,0,1,0,1,0

In [3]:
X = df[['M0P1', 'M1P2', 'M2P3', 'M3P4']]
X

     M0P1  M1P2  M2P3  M3P4
0       0     0     0     1
1       0     1     0     1
2       0     0     2     1
3       0     1     0     1
4       0     1     0     0
..    ...   ...   ...   ...
995     0     0     0     1
996     0     1     1     0
997     0     0     0     1
998     0     1     0     0
999     0     1     0     1

[1000 rows x 4 columns]

In [4]:
y = df[['Class']]
y

     Class
0        1
1        1
2        1
3        1
4        1
..     ...
995      0
996      0
997      0
998      0
999      0

[1000 rows x 1 columns]

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:
# Convert y_train and y_test to 1D arrays
y_train = y_train.values.ravel()
y_test = y_test.values.ravel()

In [33]:
model = Sequential([
    Dense(10, activation='relu', input_shape=(4,)),
    Dense(7, activation='relu'),
    Dense(5, activation='relu'),
    Dense(4, activation='relu'),
    Dense(2, activation='softmax')  
])
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])


log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.2, callbacks=[tensorboard_callback])

%load_ext tensorboard

%tensorboard --logdir logs/fit

Epoch 1/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 0.4432 - loss: 0.6987 - val_accuracy: 0.4437 - val_loss: 0.6936
Epoch 2/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4712 - loss: 0.6872 - val_accuracy: 0.5063 - val_loss: 0.6883
Epoch 3/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5053 - loss: 0.6791 - val_accuracy: 0.5500 - val_loss: 0.6842
Epoch 4/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.6372 - loss: 0.6739 - val_accuracy: 0.6062 - val_loss: 0.6798
Epoch 5/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6469 - loss: 0.6670 - val_accuracy: 0.6062 - val_loss: 0.6768
Epoch 6/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6552 - loss: 0.6641 - val_accuracy: 0.6062 - val_loss: 0.6738
Epoch 7/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6442 - loss: 0.6598 - val_accuracy: 0.6062 - val_loss: 0.6707
Epoch 8/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6717 - loss: 0.6404 - val_accuracy: 0.6062 - val_loss: 0.6652
Epoch 9/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6559 - loss: 0.6410 - val_accuracy: 0.6062 - val_loss: 0.6608
Epoch 10/10
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.6317 - loss: 0.6481 - val_accuracy: 0.6000 - val_loss: 0.6559
The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 2081), started 0:24:56 ago. (Use '!kill 2081' to kill it.)